.main_image {
  svg {
    height: 160px;
    width: 160px;
  }

  &.dark {
    svg path {
      fill: #fff;
      opacity: 0.75;
    }
  }
}
.btn {
  text-transform: none !important;

  &.result-btn {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &.restart-btn {
    max-width: 420px;
    width: 80%;
  }
}

.btn-danger {
  text-decoration: line-through;
}

.error_question {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.question_image {
  background: #fff;
  border-radius: 10px;
  margin-right: 5px;
  max-height: 100px;
  padding: 10px;
  width: auto;
}
