.main_image {
  svg {
    width: 160px;
    height: 160px;
  }

  &.dark {
    svg path {
      fill: #fff;
      opacity: 0.75;
    }
  }
}

.row .form-check-input[type=checkbox] {
  margin-top: 5px;
}

.form-wrapper {
  max-width: 420px;
}

.form-check-label {
  padding-left: 10px;
}
