<div class="container pt-3 pb-3">
  <div class="app-version">
    <span
      class="badge"
      [ngClass]="{ 'bg-light text-dark': theme === 'light', 'bg-secondary text-light': theme === 'dark' }">
      1.15
    </span>
  </div>  
  <ul class="nav nav-tabs mb-3">
    <li *ngFor="let tab of languageTabs" class="nav-item">
      <a
        class="nav-link"
        [class.active]="tab.value === selectedLanguage"
        aria-current="page"
        (click)="changeSelectedLanguage(tab.value)">
        {{ tab.label }}
      </a>
    </li>
  </ul>
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <app-settings
        *ngIf="!hasTestStarted && !hasTestFinished"
        [selectedLanguage]="selectedLanguage"
        [isQuestionsRandom]="isQuestionsRandom"
        [isAnswerVariantsRandom]="isAnswerVariantsRandom"
        [isDarkTheme]="isDarkTheme"
        (testStarted)="startTest($event)"
        (themeChanged)="updateTheme()">
      </app-settings>
    </div>
  </div>
  <app-questions
    *ngIf="hasTestStarted"
    [selectedLanguage]="selectedLanguage"
    [isAnswerVariantsRandom]="isAnswerVariantsRandom"
    [questions]="questions"
    [isDarkTheme]="isDarkTheme"
    (errorAnswer)="updateUnPassedQuestions($event)"
    (isLoading)="startAndStopSpinner()"
    (testFinished)="finishTest()"
    (testDeclined)="declineTest()"
    (themeChanged)="updateTheme()">
  </app-questions>

  <app-results
    *ngIf="hasTestFinished"
    [selectedLanguage]="selectedLanguage"
    [unPassedQuestions]="unPassedQuestions"
    [questions]="questions"
    [maximumErrorsQty]="maximumErrorsQty"
    [isDarkTheme]="isDarkTheme"
    (isLoading)="startAndStopSpinner()"
    (testRestarted)="restartTest()"
    (themeChanged)="updateTheme()">
  </app-results>
</div>

<div class="spinner-grow text-primary" role="status" *ngIf="isLoading">
  <span class="visually-hidden">Loading...</span>
</div>
