.spinner-grow {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: calc(50% - 1.5rem);
  top: calc(25vh);
}

.nav-tabs {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 250px;
  .nav-link {
    cursor: pointer;
  }
}

.app-version {
  position: absolute;
  right: 5px;
  top: 5px;
}
